body {
    background-color: bisque;
    
    
}
 #logo {
    text-align: center;
 }

  
 .foodplate {
    padding-left: 75%;
    height: 200px;
    width: 200px; 

 }
    
 
 .container1 {
    margin-right: 10px;
    text-decoration: none; 
    padding: 5px 10px;
    background-color: none; 
    color: #1a0707; 
    border-radius: 5px; 
    display: flex;
}
.container1 a{
    display: inline-block; 
    margin-right: 10px;
    text-decoration: none; 
    padding: 5px 10px;
    background-color: none; 
    color: #0a0202; 
    border-radius: 10px; 
}
.container1 a:hover {
    background-color: #f0ecec; 
    color: #0b0c0b; 
}

.container1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    width: 100%;
}

/* social media links*/
.container a {
    display: inline-block; 
    margin-right: 10px;
    text-decoration: none; 
    padding: 5px 10px;
    color: #1a0707; 
    border-radius: 5px; 
}

.container a:hover {
    background-color: #eee9e9; 
     
}
#recept1 {
    text-align: left;
}

p {
    color: darkslategrey;
    
}

li {
    color: darkslategrey;
    font-style: italic;
}


/*place for list and to do*/

.container {
    display: flex;
}

.content {
    flex: 1; 
}

.sidebar {
    flex: 1; 
    text-align: right; 
}

.container {
    margin-right: 10px;
    text-decoration: none; 
    padding: 5px 10px;
    background-color: none; 
    color: #1a0707; 
    border-radius: 5px; 
   }
/* pictures */
   .feta-cheese {
    width: 50px;
    height: 50px;
}
/* style for sign up*/
#signup{
    max-width: 200px;
    margin: 40px;
    background-color: #9c3030;
    padding: 10px;
    border-radius: 12px;
    
}

.container a {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
}

/* media query for mobilephones */

@media screen and (max-width: 600px){
    .fetacheese {
        height: 140px;
        width: 180px;
        border-radius: 50%;
    }.happyfamily {
        height: 200px;
        width: 250;
        border-radius: 10%;
    }
    .foodplate {
        height: 200px;
        width: 250;
       
    }
}

/* media query for ipad and tablets */
@media screen and (min-width: 601px) and (max-width: 900px){
    .fetacheese {
        height: 240px;
        width: 480px;
        border-radius: 50%;
    }
    .happyfamily {
        height: 300px;
        width: 400px;
        border-radius: 10%;
        display: flex;
        justify-content: center;
    }
    .foodplate {
        height: 200px;
        width: 250;
         
    }
}
/* media query for big screens*/
@media screen and (min-width: 901px) {
    .fetacheese {
        height: 340px;
        width: 580px;
        border-radius: 50%;
    }
    .happyfamily {
        height: 600px;
        width: 700px;
        border-radius: 10%;
    }
    .foodplate {
        height: 200px;
        width: 250;
         
    }
}  

     