body {
    background-color: bisque;
    
    
}
 .logo {
    text-align: center;
    font-size: 60px;
 }

  
 .foodplate {
    padding-left: 30%;
    height: 200px;
    width: 200px; 
    display: flex; 
    align-items: center; 

 }
 .foodplate img {
    width: 200px; 
    height: auto; 
    margin-left: 2px; 
 }
    
  .foodplate p {
    font-size: 20px;
    font-style: italic;
    color:rgb(2, 2, 8);
    margin-right: 5px;
  }

.hr {
    border: none;
    border-top: 2px solid black; 
    width: 50%; 
    margin: 20px auto; 
} 
 .container1 {
    margin-right: 10px;
    text-decoration: none; 
    padding: 5px 10px;
    color: #1a0707; 
    border-radius: 5px; 
    display: flex;
}
.container1 a{
    display: inline-block; 
    margin-right: 10px;
    text-decoration: none; 
    padding: 5px 10px; 
    color: #0a0202; 
    border-radius: 10px; 
}
.container1 a:hover {
    background-color: #f0ecec; 
    color: #0b0c0b; 
}

.container1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    width: 100%;
}

/* social media links*/
.container a {
    display: inline-block; 
    margin-right: 10px;
    text-decoration: none; 
    padding: 5px 10px;
    color: #1a0707; 
    border-radius: 5px; 
}

.container a:hover {
    background-color: #eee9e9; 
     
}
#recept1 {
    text-align: left;
}

p {
    color: darkslategrey;
    
}

li {
    color: darkslategrey;
    font-style: italic;
}

.text-frame {
    border: 2px solid black; 
    padding: 20px; 
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.fetacheese {
    width:auto;
    height: auto;
    
}
/*place for list and to do*/

.container {
    display: flex;
}

.content {
    flex: 1; 
}

.sidebar {
    flex: 2; 
    text-align: right; 
    border: 2px solid black; 
    padding: 20px; 
    
}

.container {
    margin-right: 10px;
    text-decoration: none; 
    padding: 5px 10px; 
    color: #1a0707; 
    border-radius: 5px; 
   }
/* pictures */
   .feta-cheese {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about {
    text-align: center;
}
/* style for sign up*/
#signup{
    max-width: 200px;
    margin: 40px;
    background-color: #9c3030;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
       
}


.containersignup {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.container a {
    
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
}

/* media query for mobilephones */

@media screen and (max-width: 600px){
    .fetacheese {
        height: 140px;
        width: 180px;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .happyfamily {
        height: 200px;
        width: 250px;
        border-radius: 10%;
    }
    .foodplate {
        height: 5%;
        width: 5%;
        justify-content: right;
        padding-left: 80%;
        border-radius: 20%;
    }
    .foodplate p {
        text-align: center;
    }

    .text-frame {
        border: 2px solid black; 
        padding: 20px; 
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        transform: 2s;
    }
}

/* media query for ipad and tablets */
@media screen and (min-width: 601px) and (max-width: 900px){
    .fetacheese {
        height: 240px;
        width: 480px;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .happyfamily {
        height: 300px;
        width: 400px;
        border-radius: 10%;
        display: flex;
        justify-content: center;
    
    }
    .foodplate {
        height: 200px;
        width: 250px;
        justify-content: right;
        padding-left: 50%;
    }
    

}
/* media query for big screens*/
@media screen and (min-width: 901px) {
    .fetacheese {
        height: 340px;
        width: 580px;
        border-radius: 50%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .happyfamily {
        height: 600px;
        width: 700px;
        border-radius: 10%;
    }
    .foodplate {
        height: 200px;
        width: 250px;
         
    }
}  
